input[type=text], select {

    width: 100%;
  
    padding: 12px 20px;
  
    margin: 8px 0;
  
    display: inline-block;
  
    border: 1px solid #ccc;
  
    border-radius: 4px;
  
    box-sizing: border-box;
  
  }
  
  input[type=date], select {
  
    width: 48%;
  
    padding: 12px 20px;
  
    margin: 8px 0;
  
    display: inline-block;
  
    border: 1px solid #ccc;
  
    border-radius: 4px;
  
    box-sizing: border-box;
  
  }
  
  input[type=time], select {
  
    margin-left: 8px;
  
    padding-left: 5px;
  
    width: 50%;
  
    padding: 12px 20px;
  
    margin: 8px 0;
  
    display: inline-block;
  
    border: 1px solid #ccc;
  
    border-radius: 4px;
  
    box-sizing: border-box;
  
  }
  
   
  
  input[type=button] {
  
    width: 100%;
  
    background-color: #4CAF50;
  
    color: white;
  
    padding: 14px 20px;
  
    margin: 8px 0;
  
    border: none;
  
    border-radius: 4px;
  
    cursor: pointer;
  
  }
  
   
  
  input[type=button]:hover {
  
    background-color: #45a049;
  
  }
  
   
  
  div {
  
    width: 500px;
  
    border-radius: 5px;
  
    background-color: #f2f2f2;
  
    padding: 20px;
  
    border: 2px solid #4CAF50;
  
    align-self: center;
  
  }
  
  form{
  
    width: 95%;
  
    
  
  }
  
  h1{
  
    text-align: center;
  
    font-size: x-large;
  
    font-family: 'Lucida Sans';
  
  }
  
  section{
  
    width: 400px;
  
    background-color: rgb(235, 229, 229);
  
    padding: 15px;
  
    margin-left: 10px;
  
    border: 2px solid #4CAF50;
  
    border-radius: 5px;
  
  
  
  }
  
  .bg-dark{
  
    background: black;
  
    color: blueviolet;
  
  }
  
  